.sidebar {
  align-items: flex-start;
  border-radius: 0.5em;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}

.categoria {
  background-color: white;
  border-bottom: 1px solid silver;
  border: 0;
  cursor: pointer;
  padding: 5px;
}
