.App {
  text-align: center;
  color: grey;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchBar {
  border-radius: 2.15em;
  border: 1px solid grey;
  height: 2.15em;
  transition: box-shadow 0.175s ease-in-out;
  background: url(./imgs/search-solid.svg) no-repeat 10px 0.6em;
  background-size: 1.15em;
  padding-left: 35px;
  padding-right: 20px;
}

.SearchBar:focus {
  outline: none;
  box-shadow: 0 0 0.15em 0.15em lightblue;
}
